In [40]:
import yfinance as yf

In [42]:
from datetime import datetime
end = datetime.now()
start=datetime(end.year-10, end.month, end.day)

In [44]:
stock = "GOOG"
google_data = yf.download(stock,start,end)

[*********************100%***********************]  1 of 1 completed

In [45]:
google_data.head()

Price       Adj Close      Close       High        Low       Open    Volume
Ticker           GOOG       GOOG       GOOG       GOOG       GOOG      GOOG
Date
2014-12-09  26.530329  26.595482  26.636370  25.953745  26.035519  37426473
2014-12-10  26.166723  26.230984  26.743076  26.206051  26.581022  34245764
2014-12-11  26.280132  26.344671  26.622908  26.282841  26.317745  32216207
2014-12-12  25.798639  25.861996  26.352650  25.861996  26.103832  39891221
2014-12-15  25.556898  25.619661  26.083387  25.593233  26.065437  56268061

In [46]:
google_data.shape

(2517, 6)

In [50]:
google_data.describe()

Price,Adj Close,Close,High,Low,Open,Volume
Ticker,GOOG,GOOG,GOOG,GOOG,GOOG,GOOG
count,2517.000000,2517.000000,2517.000000,2517.000000,2517.000000,2.517000e+03
mean,81.586318,81.771113,82.595043,80.917988,81.722849,3.089738e+07
std,43.858261,43.934411,44.402820,43.478960,43.919911,1.543459e+07
min,24.499903,24.560070,24.730902,24.311253,24.664783,6.936000e+06
25%,46.142181,46.255501,46.541000,45.909500,46.265999,2.124400e+07
50%,63.175354,63.330502,64.023003,62.601501,63.250000,2.706600e+07
75%,119.795799,120.089996,121.269997,119.070000,120.089996,3.591460e+07
max,192.406723,192.660004,193.309998,190.619995,191.750000,2.232980e+08

In [52]:
google_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2517 entries, 2014-12-09 to 2024-12-09
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   (Adj Close, GOOG)  2517 non-null   float64
 1   (Close, GOOG)      2517 non-null   float64
 2   (High, GOOG)       2517 non-null   float64
 3   (Low, GOOG)        2517 non-null   float64
 4   (Open, GOOG)       2517 non-null   float64
 5   (Volume, GOOG)     2517 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 137.6 KB

In [54]:
google_data.isna().sum()

Price      Ticker
Adj Close  GOOG      0
Close      GOOG      0
High       GOOG      0
Low        GOOG      0
Open       GOOG      0
Volume     GOOG      0
dtype: int64

In [56]:
import matplotlib.pyplot as plt
%matplotlib inline

In [58]:
plt.figure(figsize = (15,5))
google_data['Adj Close'].plot()
plt.xlabel("years")
plt.ylabel("Adj Close")
plt.title("Closing price of Google data")

Text(0.5, 1.0, 'Closing price of Google data')